aiofiles==0.7.0
cffi==1.14.6
ffmpeg-python==0.2.0
future==0.18.2
gevent==21.8.0
greenlet==1.1.2
httptools==0.3.0
multidict==5.2.0
numpy==1.19.4
pip==21.2.3
pycparser==2.20
pyhocon==0.3.58
pyparsing==2.4.7
sanic==21.9.1
sanic-routing==0.7.1
setuptools==57.4.0
stt==1.0.0
websocket==0.2.1
websockets==10.0
zope.event==4.5.0
zope.interface==5.4.0
